/*
 * Picks a colour from two options based on which one is more visible
 * on the given background colour.
 *
 * Usage: pick-visible-color($bg-color, $color-1, $color-2)
 */
/*
 * Picks a colour from two options based on which one is more visible
 * on the given background colour.
 *
 * Usage: pick-visible-color($bg-color, $color-1, $color-2)
 */
.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1320px;
  padding: 0 1.42857rem;
  margin: 0 auto; }
  @media (max-width: 799px) {
    .container {
      padding: 0 2.14286rem; } }

.container-wide {
  box-sizing: border-box;
  width: 100%;
  max-width: 1400px;
  padding: 0 1.42857rem;
  margin: 0 auto; }
  @media (max-width: 799px) {
    .container-wide {
      padding: 0 2.14286rem; } }

.nav-wrapper {
  flex-shrink: 0;
  flex-grow: 0; }
  .nav-wrapper.index {
    background-color: #f2f2f2; }
  .nav-wrapper.configurator {
    background-color: #dadada; }

.nav-container {
  padding: 1.07143rem 0.71429rem;
  box-sizing: border-box;
  color: #43525A;
  font-size: 1.14286rem; }
  .nav-container .nav-main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; }
    .nav-container .nav-main .nav-left {
      display: flex;
      flex: 1 1 100%;
      align-items: center; }
    .nav-container .nav-main .logo-container {
      transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transform: translateY(0); }
    .nav-container .nav-main .logo {
      flex: 0 0 14.28571rem;
      width: 14.28571rem; }
    .nav-container .nav-main .nav-right {
      display: flex;
      flex: 1 1 100%;
      justify-content: flex-end;
      align-items: center; }
  .nav-container .nav-link {
    display: block;
    padding: 1.07143rem;
    margin: 0.71429rem;
    color: #43525A;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition-delay: 0;
    transform: translateY(-71.42857rem); }
    .nav-container .nav-link:hover {
      color: #28A5BE; }
  .nav-container .nav-link-active {
    color: #28A5BE; }
  .nav-container .nav-separator {
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    display: block;
    height: 1px;
    width: 2.85714rem;
    background-color: #43525A;
    margin: 1.42857rem auto; }
  .nav-container .nav-more-button {
    border: none;
    outline: none;
    font-size: 1.14286rem;
    padding: 0.35714rem;
    margin: 0.35714rem;
    color: #43525A;
    transition: all 0.3s ease-in-out;
    background: transparent; }
    .nav-container .nav-more-button.active {
      color: #28A5BE;
      cursor: pointer; }
  .nav-container .nav-configurator {
    display: inline-block;
    padding: 0.71429rem 0rem;
    margin: 0.71429rem auto 1.42857rem;
    border-bottom: 0.14286rem solid #28A5BE;
    color: #43525A;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition-delay: 0.3s;
    transform: translateY(-71.42857rem); }
    .nav-container .nav-configurator:hover {
      color: #28A5BE; }
  .nav-container .nav-extra {
    display: block;
    text-align: center;
    padding: 0;
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
    .nav-container .nav-extra.visible {
      padding: 2.14286rem 0;
      opacity: 1; }
      .nav-container .nav-extra.visible .nav-link {
        transition-delay: 0.5s;
        transform: translateY(0); }
      .nav-container .nav-extra.visible .nav-configurator {
        transition-delay: 0s;
        transform: translateY(0); }
  .nav-container .nav-cart {
    position: relative;
    padding: 0.35714rem;
    margin: 0.35714rem;
    font-size: 1.28571rem;
    color: #43525A;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: translateY(0); }
    .nav-container .nav-cart .cart-icon {
      position: relative;
      z-index: 2; }
    .nav-container .nav-cart .cart-number {
      position: absolute;
      z-index: 1;
      width: 1.42857rem;
      height: 1.42857rem;
      margin-left: -0.71429rem;
      left: 50%;
      top: -0.47619rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.57143rem;
      background-color: #28A5BE;
      color: #fff;
      transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transform: scale(1); }
    .nav-container .nav-cart:hover {
      transform: translateY(0.28571rem); }
      .nav-container .nav-cart:hover .cart-number {
        top: -0.57143rem;
        transform: scale(1.2);
        z-index: 3; }



// WEBPACK FOOTER //
// ./src/components/layout/_mobileNav.scss
