@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Muli:300,400,600,700,900&subset=latin-ext");
/*
 * Picks a colour from two options based on which one is more visible
 * on the given background colour.
 *
 * Usage: pick-visible-color($bg-color, $color-1, $color-2)
 */
/*
 * Picks a colour from two options based on which one is more visible
 * on the given background colour.
 *
 * Usage: pick-visible-color($bg-color, $color-1, $color-2)
 */
.layout-root {
  background-color: #F6F6F6;
  font-family: 'Muli', cursive;
  font-size: 1rem;
  color: #43525A;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden; }

:global html {
  font-size: 14px;
  -webkit-font-smoothing: antialiased; }

/*
 * Picks a colour from two options based on which one is more visible
 * on the given background colour.
 *
 * Usage: pick-visible-color($bg-color, $color-1, $color-2)
 */
/*
 * Picks a colour from two options based on which one is more visible
 * on the given background colour.
 *
 * Usage: pick-visible-color($bg-color, $color-1, $color-2)
 */
.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1320px;
  padding: 0 1.42857rem;
  margin: 0 auto; }
  @media (max-width: 799px) {
    .container {
      padding: 0 2.14286rem; } }

.container-wide {
  box-sizing: border-box;
  width: 100%;
  max-width: 1400px;
  padding: 0 1.42857rem;
  margin: 0 auto; }
  @media (max-width: 799px) {
    .container-wide {
      padding: 0 2.14286rem; } }

/*
 * Picks a colour from two options based on which one is more visible
 * on the given background colour.
 *
 * Usage: pick-visible-color($bg-color, $color-1, $color-2)
 */
.contact-promo-element {
  padding-top: 4.28571rem;
  padding-bottom: 4.28571rem;
  text-align: center; }
  .contact-promo-element .image-container  {
    display: block;
    margin: 0 auto; }
  @media (max-width: 799px) {
    .contact-promo-element img {
      width: 100%;
      height: auto; } }
  .contact-promo-element h2 {
    font-family: "Muli", sans-serif;
    font-weight: 600;
    font-size: 2.28571rem;
    line-height: 2.85714rem;
    margin: 2.14286rem auto 1.78571rem;
    max-width: 54.28571rem; }
  .contact-promo-element p {
    font-size: 1.14286rem;
    line-height: 160%;
    margin: 0.71429rem auto;
    max-width: 57.14286rem;
    display: block; }
  .contact-promo-element .cta-container {
    display: inline-block;
    margin: 2.14286rem auto 0; }



// WEBPACK FOOTER //
// ./src/components/index/_contactPromoElement.scss
