@import url("https://fonts.googleapis.com/css?family=Muli:300,400,600,700,900&subset=latin-ext");
/*
 * Picks a colour from two options based on which one is more visible
 * on the given background colour.
 *
 * Usage: pick-visible-color($bg-color, $color-1, $color-2)
 */
/*
 * Picks a colour from two options based on which one is more visible
 * on the given background colour.
 *
 * Usage: pick-visible-color($bg-color, $color-1, $color-2)
 */
.layout-root {
  background-color: #F6F6F6;
  font-family: 'Muli', cursive;
  font-size: 1rem;
  color: #43525A;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden; }

:global html {
  font-size: 14px;
  -webkit-font-smoothing: antialiased; }

/*
 * Picks a colour from two options based on which one is more visible
 * on the given background colour.
 *
 * Usage: pick-visible-color($bg-color, $color-1, $color-2)
 */
/*
 * Picks a colour from two options based on which one is more visible
 * on the given background colour.
 *
 * Usage: pick-visible-color($bg-color, $color-1, $color-2)
 */
.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1320px;
  padding: 0 1.42857rem;
  margin: 0 auto; }
  @media (max-width: 799px) {
    .container {
      padding: 0 2.14286rem; } }

.container-wide {
  box-sizing: border-box;
  width: 100%;
  max-width: 1400px;
  padding: 0 1.42857rem;
  margin: 0 auto; }
  @media (max-width: 799px) {
    .container-wide {
      padding: 0 2.14286rem; } }

/*
 * Picks a colour from two options based on which one is more visible
 * on the given background colour.
 *
 * Usage: pick-visible-color($bg-color, $color-1, $color-2)
 */
.index-hero-overlay-box {
  padding: 0;
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #dedede;
  position: relative;
  z-index: 2;
  top: -5.71429rem;
  margin-bottom: -5.71429rem; }
  @media (max-width: 799px) {
    .index-hero-overlay-box {
      top: 0;
      margin-bottom: 0;
      display: block; } }
  .index-hero-overlay-box .graphic {
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
    width: 39.28571rem; }
    @media (max-width: 799px) {
      .index-hero-overlay-box .graphic {
        width: 100%; } }
  .index-hero-overlay-box .content {
    padding: 4.28571rem; }
    @media (max-width: 799px) {
      .index-hero-overlay-box .content {
        padding: 4.28571rem 1.42857rem; } }
    .index-hero-overlay-box .content h2 {
      font-family: "Muli", sans-serif;
      font-weight: 600;
      font-size: 2.28571rem;
      line-height: 2.85714rem;
      margin: 0 0 1.78571rem; }
    .index-hero-overlay-box .content p {
      font-family: "Muli", sans-serif;
      font-weight: 400;
      margin: 0.71429rem 0;
      font-size: 1rem;
      line-height: 160%; }
    .index-hero-overlay-box .content .cta-container {
      margin: 2.5rem 0 0; }



// WEBPACK FOOTER //
// ./src/components/index/_indexHeroOverlayBox.scss
